<sly data-sly-use.promo="com.aem.lab.core.models.PromoHero"/>
<div class="row">
<div class="row animate-box">
	<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
		<i class="${promo.icon}"></i>
		<h2>${promo.title}</h2>
		<p>${promo.desc @context = "html"}</p>
	</div>
</div>
</div>