<!--/* Header Component to take care of navigation and menu

*/-->
<sly data-sly-use.header="com.aem.lab.core.models.Header"/>

<nav class="fh5co-nav" role="navigation">
	<div class="container-wrap">
		<div class="top-menu">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="${header.rootPath}">Neat</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="${header.rootPath == currentPage.path ? 'active' : ''}"><a href="${header.rootPath}.html">Home</a></li>
                       	<sly data-sly-list.page="${header.childPages}">
							<li class="${header.activeHirearchy == page.path ? 'active' : ''}"><a href="${page.path}.html">${page.title}</a></li>
                        </sly>

					</ul>
				</div>
			</div>
			
		</div>
	</div>
</nav>
