<sly data-sly-use.banner="com.aem.lab.core.models.Banner"/>
<style>
#banner-component-img {
	max-height: 100%;
	max-width: 100%
}
</style>
<div class="flexslider">
	
	<div class="overlay-gradient"></div>
	<div class="container-fluid">
		<div class="row">
		<img id="banner-component-img" src="${banner.imageSrc}"/>
			<div class="col-md-6 col-md-offset-3 ${banner.position}">
				<div class="slider-text-inner">
					<h1>${banner.title}</h1>
						<p>
						${banner.desc @ context="unsafe"}
						<sly data-sly-list.button="${banner.buttons}">
							<a class = "btn btn-primary" href="${button.path}">${button.text}</a>
						</sly>
						</p>
				</div>
			</div>
		</div>
	</div>

</div>