<sly data-sly-use.images="com.aem.lab.core.models.ImageGallery"/>
<div id="fh5co-work" class="fh5co-light-grey">
	<div class="row" data-sly-list.image="${images.images}">
		<div class="col-md-4 text-center animate-box">
			<a href="${image.path}" class="work" >
				<img src="${image.imgPath}"/>
				<div class="desc">
					<h3>${image.title}</h3>
					<span>${image.desc}</span>
				</div>
			</a>
		</div>
	</div>
</div>