<!--/* Footer Component for WKND Site 

*/-->
<sly data-sly-use.footer="com.aem.lab.core.models.Footer"/>
<div class="container-wrap">
	<footer id="fh5co-footer" role="contentinfo">
		<div class="row">
			<div data-sly-test.about="${footer.about}" class="col-md-3 fh5co-widget">
				<h4>${about.title}</h4>
				<p>${about.description @context="html"}</p>
			</div>
			<div class="col-md-3 col-md-push-1">
				<h4>Latest Posts</h4>
				<ul data-sly-list="${footer.posts}" class="fh5co-footer-links">
					<li><a href="${item.path}" target="${item.isExternal ? '_blank' : ''}">${item.text}</a></li>
				</ul>
			</div>

			<div class="col-md-3 col-md-push-1">
				<h4>Links</h4>
				<ul data-sly-list="${footer.childPages}" class="fh5co-footer-links">
					<li><a href="${item.path}">${item.title}</a></li>
				</ul>
			</div>

			<div data-sly-test.contact="${footer.contact}" class="col-md-3">
				<h4>${contact.title}</h4>
				<p class="fh5co-footer-links">
					${contact.description @context="html"}
				</p>
			</div>

		</div>

		<div class="row copyright">
			<div class="col-md-12 text-center">
				<p>
					<small class="block">&copy; ${footer.year} ${footer.copyRightText @ context="html"}</small> 
					<small class="block">Designed by Mohit Kumar</small>
				</p>
				<p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
				</p>
			</div>
		</div>
	</footer>
</div><!-- END container-wrap -->
