<!--/*
	-  body.html

*/-->
<!--<link rel="stylesheet" type="text/css" href="${currentDesign.path}/style.css"> -->
<div class="fh5co-loader"></div>

<div id="page">

<div class="container-wrap">

	<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
         data-sly-repeat.child="${templatedContainer.structureResources}"
         data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"/>

</div><!-- END container-wrap -->


</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>